.text {
	color: green;
}

.form {
	border: lightblue thin solid;
	background-color: azure;
	width: 50%;
	padding: 5px;
}

.error {
	color: maroon;
}

.box {
	background-color: silver;
	width: 400px;
}

.line {
	background-color: cornsilk;
}

.first {
	background-color: lightblue;
}

.second {
	background-color: gold;
}