</table>
<script>
	require([ "dojo/ready", "dijit/registry", "dojox/mvc/sync", "dojo/Stateful", "dojo/data/ObjectStore",
			"dojo/store/Memory" ], function(ready, registry, sync,
					Stateful, ObjectStore, Memory) {
		ready(function() {
			var grid = registry.byId("$gridName$");
			
			var dataStore = new Memory({
				data : []
			});

			sync($formName$.model, "$gridName$_data", dataStore, "data");
			$formName$.model.watch("$gridName$_data", function(){
				//refresh the grid
				grid.sort();
			});

			var store = new ObjectStore({
				objectStore : dataStore
			});

			grid.setStore(store);
		});
	});
</script>